<configuration packagingData="true">
    <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
        <dsn>https://888a7f5efd8348018dfb4f2fe392d400:b3aee64a0dca4c459fd602088ebe21b1@sentry.io/162049</dsn>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <extraTags>server,players,version</extraTags>
        <!-- Optional, allows to select the ravenFactory -->
        <ravenFactory>com.getsentry.raven.DefaultRavenFactory</ravenFactory>
    </appender>
    <root level="info">
        <appender-ref ref="Sentry"/>
    </root>
    <DynamicThresholdFilter key="trace-logging-enabled" onMatch="ACCEPT" onMismatch="NEUTRAL">
        <KeyValuePair key="true" value="TRACE" />
    </DynamicThresholdFilter>
</configuration>