<configuration packagingData="true">
    <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
        <dsn>http://5b7e66f2543d4033aa80180f111cd761:141ce350972c4f39a0b5114b57518af3@sentry.craftmania.cz/2?options</dsn>
        <tags></tags>
        <extraTags>server,players,version</extraTags>
        <!-- Optional, allows to select the ravenFactory -->
        <ravenFactory>com.getsentry.raven.DefaultRavenFactory</ravenFactory>
    </appender>
    <root level="info">
        <appender-ref ref="Sentry"/>
    </root>
    <DynamicThresholdFilter key="trace-logging-enabled" onMatch="ACCEPT" onMismatch="NEUTRAL">
        <KeyValuePair key="true" value="TRACE" />
    </DynamicThresholdFilter>
</configuration>